@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #dedce6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 800px;
  height: 500px;
  background: white;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.login-section {
  flex: 1;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-box h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.login-box p {
  margin-bottom: 30px;
  color: #555;
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.options a {
  text-decoration: none;
  color:#5080ee;
}

.primary-btn {
  background-color:#5080ee;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}

.google-btn {
  background-color: white;
  color: #555;
  border: 1px solid #ccc;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

.signup-text {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

.signup-text a {
  color:#5080ee;
  text-decoration: none;
}

.signup-text p {
  color:#5080ee;
  text-decoration: none;
}


.footer {
  font-size: 12px;
  color: #aaa;
}

.art-section {
  flex: 1;
  background: #f7f7fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.art-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo-image {
  width: 400px;
  height: 300px;
  max-width: 220px; /* və ya istədiyin ölçü */
  height: auto;
  border-radius: 8px; /* əgər istəsən radius verə bilərsən */
}
